$bg-color:#0b0a10;
$grey-color:#afb8bf;
$white-color:#ffffff;
$header-color:#2221275c;
$voilet-color:#250b3d;
$grad-1:linear-gradient(90deg, rgba(35,84,203,1) 0%, rgba(183,32,211,1) 35%, rgba(251,106,187,1) 100%); //purple horizontal
$grad-2:linear-gradient(#f3a7dd, #eb50e9 44%, #450399);//white vertical
$grad-3:linear-gradient(0deg, rgba(35,84,203,1) 0%, rgba(183,32,211,1) 39%, rgba(233,98,210,1) 65%, rgba(255,255,255,1) 100%); // white vertical